<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label for="initial-invemestment">Initial Investment</label>
            <input id="initial-invemestment" name="initial-invemestment"type="number" [(ngModel)]="enteredInitialInvestement" />
        </p>
        <p>
            <label for="annual-invemestment">Annual Investment</label>
            <input id="annual-invemestment" name="annual-invemestment" type="number" [(ngModel)]="enteredAnnualInvestement" />
        </p>
        <p>
            <label for="expected-return">Expected Return</label>
            <input id="expected-return" name="expected-return" type="number" [(ngModel)]="enteredExpectedReturn"/>
        </p>
        <p>
            <label for="duration">Duration</label>
            <input id="duration" name="duration" type="number" [(ngModel)]="enteredDuration"/>
        </p>
    </div>
    <p>
        <button>Calculate</button>
    </p>
</form>